.font_titulos{
  font-family: var(--font-letras);
  font-size: 1.5rem;
  margin: auto;
}

.tamanho_titulo{
font-size: 2rem;
}

.form_index{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
height: auto;
width: 70vh;
padding: 3%; 
border: var(--borda);
border-radius: .5rem;
}


.botao_caixa{
  background-color: var(--cor-botao);
  border: none;
  color: white;
  padding: 5%;
  cursor: pointer;
  font-weight: 700;
}
.a_estoque{
background-color: var(--cor-botao-estoque);
padding: 1%;
font-family: var(--font-letras);
text-decoration: none;
color: white;
position: fixed;
margin-right: -85%;
margin-bottom: -16%;
}  

.a_estoque:hover{
background-color: var(--cor-botao-estoque-hover);
}

.botao_caixa:hover{
background-color: var(--cor-botao-hover);
}


.label-float{
  position: relative;
  padding-top: 13px;
}

.label-float input{
  border-radius: .5rem;
  border: var(--borda);
  outline: none;
  min-width: 250px;
  padding: 15px 20px;
  font-family:var(--font-letras);
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance:none;
}


.label-float .label_select{
pointer-events: none;
position: absolute;
top: calc(10% - 9px);
left: 15px;
transition: all .1s linear;
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
background-color: #fcfcfc;
padding: 5px;
box-sizing: border-box;
font-family: var(--font-letras);
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  font-family: var(--font-letras);
}
.label-float input:required:invalid + label{
    color: black;
    font-family: var(--font-letras);
}


.label-float input:focus{
  border: 2px solid #e9967a;
  font-family: var(--font-letras);
}

.label-float input:required:invalid + label:before{
  content: '';

}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  top: 0;
  color: #e9967a;
  font-family: var(--font-letras);
}


.responsividade_dois{
/* border: none; */
padding: 2%;
width: 80%;
grid-gap: 2%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: stretch;
}


.opçao {
  border: none;
  background-color: var(--cor-opcao);
  border-radius: 50px;
  font-family: var(--font-letras);
}
.opçao2{
border: none;
background-color: var(--cor-opcao2);
border-radius: 50px;
font-family: var(--font-letras);
}

.label-float select{
border-radius: .5rem;
border: var(--borda);
outline: none;
padding: 15px 0px;
font-family:var(--font-letras);
font-size: 16px;
transition: all .1s linear;
-webkit-transition: all .1s linear;
-moz-transition: all .1s linear;
-webkit-appearance:none;
}

.label-float .tamanho_select{
min-width: 290px;

}

.label-float select:focus{
border: 1px solid var(--cor-botao);
}
.comentario {
font-family: var(--font-letras);
border-radius: 5px;
width:280px;
height:230px;
box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .2);
border:none;
background-color:#fcfcfc;
outline: none;
resize: none;
position: relative;
padding: 10px;
font-size: 90%;
}

.comentario2 {
font-family: var(--font-letras);
border-radius: 5px;
width:280px;
height:100px;
box-shadow: 0 3px 2px 1px rgba(0, 0, 0, .2);
border: 1px solid transparent;
background-color:#fcfcfc;
outline: none;
resize: none;
position: relative;
padding: 10px;
font-size: 90%;
}

.comentario2:focus{
border: 1px solid var(--cor-botao);

}

/*----Resumo caixa textarea -----*/

/* 
#more{
display: none;
} */
input:not(:checked) + .checkbox textarea{
width: 0px;
height: 0px;
opacity: 0;
z-index: -1;
display: block;
margin-bottom: -80px;
}
input:checked + .checkbox textarea{
font-size: 20;
display: block;
z-index: 1;
width: 275px;
height: 100px;
border:none;
outline: none;
resize: none;
animation: decidaespecifica 0.5s;
margin-bottom: 20px;
color:black;
}
@keyframes decidaespecifica{
0%{
    width: 0px;
    height: 0px;
    opacity: 0;
    margin-bottom: -80px;
    color:rgba(255, 255, 255, 0);
    z-index: -1;
}
50%{
    height: 50px;
    opacity: 1;
}
100%{
    z-index: -1;
    width: 275px;
    height: 100px;
    font-size: auto;
    color:rgba(255, 255, 255, 0) 
}
}
/*-------------------*/
.radio{
display:none;
}
input + .checkbox textarea::-webkit-scrollbar{
width: 0px;
height: 0px;
}


/* TABELA ESTOQUE */



.img-preta{
width: 30px;
height: 30px;
filter: grayscale(1);
transition: 0.2s;
}

.grid {
border: none;
font-size: 16px;
/*position: relative;
*/
background-color: var(--cor-corpo-tabela);
width: 100%;
height: auto;
font-family: var(--font-letras);
box-shadow: 5px 5px 15px #bababa;
}
.grid-container {
overflow-y: auto;
height: 500px;
}
.tabela{
border-radius: 20px;
border: none;
border-spacing: 1;
width:110%;
min-height: 50px;
table-layout:fixed;
}
.tabela_editar{
border-radius: 20px;
border: none;
border-spacing: 1;
min-height: 50px;
}
.corpotabela, .headertabela {
background: #fff;
color: #000;
}
.corpotabela{
height: 5vh;
font-size: 1.2em;
overflow: hidden;
text-align: center;
background-color: var(--cor-linha-tabela);
border-top: 1px solid #e8f1f3;
border-bottom: 1px solid #e8f1f3;
border-left: 0px solid;
border-right: 0px solid;
}
/*linha horizontal acompanhar tabela*/
.linha:hover .corpotabela{
background-color: var(--cor-linha-hover-tabela);
}
.linha:hover .editar_bot {
display:block;
}
/*cabeçalho/ informaçãos da tabela*/
.headertabela{
border:none;
text-align: center;
position: sticky;
background-color:var(--cor-head-tabela);
color:white;
box-shadow: 4px 5px 2px #bababa;
outline: none;
top: 0;
height: 40px;
line-height: normal;
z-index: 3;
width: 18%;
}
.tamanho_headertabela{
width: 42%;
}
.pequeno_headertabela{
width: 5%;
}
::-webkit-scrollbar{
width:0px;
height: 0px
}

/* Botão de excluir-animação/ lixeira */
.excluir{
/* /tamano da imagem
/*/
 border:none;
 border-radius: 7px;
}
/*formatação linha da tabela para acompanhar horizontal*/
.linha:hover .corpotabela{
background-color:var(--cor-linha-hover-tabela);
}
.linha .excluir:hover{
background-color:var(--cor-linha-hover-tabela);
}
/*formatação dos botões das tabelas, atender, excluir e editar*/
.atender:hover img.img-preta {
 filter:grayscale(0);
}
