.form-pesquisa {
    margin-top: 2%;
    margin-right: auto;
    display: flex inline;
    justify-content: center;
    /* gap: .1%; */
    }
.pesquisa {
    width: 30vw;
    opacity: 1;
    padding-left: 20px;
    height: 53px;
    max-height: 100px;
    border-radius: 5vw;
    border-color:var(--cor-botao);
    border-style: solid;
    font-family: var(--font-letras);
    font-weight: 700;
    /* transition: cubic-bezier(0.23, 1, 0.320, 1) 1s; */
}
.pesquisa:focus {
    border-color: var(--cor-botao-hover);
    border-style: solid;
    opacity: 1;
    outline: none !important;
}

 .botao_pesquisa {
    width: 3%;
    background-color: transparent;
    border: none;
    padding: 0.5%;
    position: absolute;
    margin-left: -3%;
    cursor: pointer;
}
.botao_pesquisa img{
    width: 100%;
    padding: inherit;
}



input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

 
 @media (max-width:400px) {
     .form-pesquisa img{

    }
    
}
 