html{
    /*FONTS DAS LETRAS*/
   --font-letras: 'Be Vietnam Pro', sans-serif;
   /*TAMANHO DA FONT DOS TITULOS*/
   --tamanho-font-titulos:2em;
       /*COR DO INPUT*/
   --cor-input:#fcfcfc;
 

   --cor-botao:#f0c9b6;
   --cor-botao-hover:#e1bba8;
   --cor-botao-estoque:#94a6ae;
   --cor-botao-estoque-hover:#acbec6;

   --cor-opcao: #ffe0b5;
   --cor-opcao2: #ffd191;

   --sombra:0px 4px 6px 0px rgba(0,0,0,0.2);
   --da-pra-usar:#f0c9b688;

   /* Tabela */

   /* Cor do  corpo da tabela */
    --cor-corpo-tabela:#f3debc;
    /* Cor da linha da tabela */
    --cor-linha-tabela: #fab7b2;
    /* Cor da linha:hover da tabela */
    --cor-linha-hover-tabela:#fcc5c1;
    /* Cor head tabela */
    --cor-head-tabela: #f3a9a4;
   /* Borda */
     /*COR DA LABEL*/

    --borda: 1px solid #e9967a;
   }